# Análise de Dados - UFPB

**Professor** : Marcus Carvalho

Aluno: [Insira seu nome]

## Laboratório: Manipulação de Dados

Nesta atividade prática, você deve usar a biblioteca Pandas de Python para exercitar a manipulação dados.
O dataset usado como exemplo será de notas de alunos em algumas turmas ofertadas para o curso de Sistemas de Informação da UFPB.
A tabela tem duas colunas: `disciplina` e `nota`. Cada linha representa a nota final de um aluno que cursou a disciplina em uma turma.
Por exemplo, se a disciplina "SISTEMAS DISTRIBUIDOS" teve 30 alunos, existirão 30 linhas com o par `<SISTEMAS DISTRIBUIDOS, nota_do_aluno>`, sendo uma para cada aluno.

Carregue e manipule os dados para responder as questões. Tente usar apenas código para responder as questões nos blocos de código.

### Carregamento dos dados

Para iniciar, importe as bibliotecas necessárias e carregue o arquivo `dados/exemplo_notas_si.csv` usando o Pandas e imprima o DataFrame para entender o formato dos dados.

In [85]:
# INSIRA SEU CÓDIGO AQUI
import pandas as pd
import numpy as np

dataset = pd.read_csv("dados/exemplo_notas_si.csv")
dataset

                disciplina  nota
0          ADMINISTRAÇÃO I   7.7
1          ADMINISTRAÇÃO I   7.0
2          ADMINISTRAÇÃO I   5.5
3          ADMINISTRAÇÃO I   2.6
4          ADMINISTRAÇÃO I   5.1
..                     ...   ...
637  SISTEMAS OPERACIONAIS   7.5
638  SISTEMAS OPERACIONAIS   6.5
639  SISTEMAS OPERACIONAIS   1.2
640  SISTEMAS OPERACIONAIS   7.3
641  SISTEMAS OPERACIONAIS   7.0

[642 rows x 2 columns]

### Filtragem de dados

Com base na tabela de notas dos alunos, aplique alguns filtros e ordenação nos dados.

#### Mostre apenas as linhas com as notas igual a 10

In [86]:
# INSIRA SEU CÓDIGO AQUI
dataset[dataset['nota'] >= 10]

                                  disciplina  nota
62         ALGORITMOS E ESTRUTURA DE DADOS I  10.0
144    DESENVOLVIMENTOS DE SIST CORPORATIVOS  10.0
153    DESENVOLVIMENTOS DE SIST CORPORATIVOS  10.0
206                       ETICA PROFISSIONAL  10.0
215                       ETICA PROFISSIONAL  10.0
216                       ETICA PROFISSIONAL  10.0
220                       ETICA PROFISSIONAL  10.0
223                       ETICA PROFISSIONAL  10.0
231                       ETICA PROFISSIONAL  10.0
232                       ETICA PROFISSIONAL  10.0
233                       ETICA PROFISSIONAL  10.0
236                       ETICA PROFISSIONAL  10.0
237                       ETICA PROFISSIONAL  10.0
238                       ETICA PROFISSIONAL  10.0
305                 INTRODUCAO A PROGRAMACAO  10.0
318                 INTRODUCAO A PROGRAMACAO  10.0
322                 INTRODUCAO A PROGRAMACAO  10.0
514  PESQUISA APLIC A SISTEMAS DE INFORMACAO  10.0

#### Mostre apenas as notas da disciplina "SISTEMAS DISTRIBUIDOS", ordenadas da maior para a menor nota

In [87]:
# INSIRA SEU CÓDIGO AQUI
notas_sistemas = dataset[dataset["disciplina"] == "SISTEMAS DISTRIBUIDOS"]
notas_sistemas.sort_values(by="nota", ascending=False)

                disciplina  nota
608  SISTEMAS DISTRIBUIDOS   9.6
604  SISTEMAS DISTRIBUIDOS   9.4
605  SISTEMAS DISTRIBUIDOS   9.2
610  SISTEMAS DISTRIBUIDOS   9.2
611  SISTEMAS DISTRIBUIDOS   9.0
616  SISTEMAS DISTRIBUIDOS   8.2
614  SISTEMAS DISTRIBUIDOS   7.9
617  SISTEMAS DISTRIBUIDOS   7.9
612  SISTEMAS DISTRIBUIDOS   7.5
615  SISTEMAS DISTRIBUIDOS   7.3
619  SISTEMAS DISTRIBUIDOS   7.2
606  SISTEMAS DISTRIBUIDOS   7.1
618  SISTEMAS DISTRIBUIDOS   5.8
613  SISTEMAS DISTRIBUIDOS   5.6
607  SISTEMAS DISTRIBUIDOS   5.4
609  SISTEMAS DISTRIBUIDOS   5.3

### Média geral das disciplinas

Crie um novo dataframe que agrupe os dados por disciplina e aplique uma função de agregação que calcule a **média** geral das notas de cada disciplina.
Cada disciplina terá apenas uma linha com o seu nome e média das notas de todos os alunos daquela disciplina.
Exiba o dataframe para visualizar se deu certo.

In [88]:
# INSIRA SEU CÓDIGO AQUI

#### Qual disciplina teve a maior média?

In [89]:
# INSIRA SEU CÓDIGO AQUI

#### Qual disciplina teve a menor média?

In [90]:
# INSIRA SEU CÓDIGO AQUI

### Quantidade de alunos por disciplina

Crie um novo dataframe que calcule a quantidade de alunos por disciplina.

In [91]:
# INSIRA SEU CÓDIGO AQUI

#### Qual disciplina teve a maior quantidade de alunos?

In [92]:
# INSIRA SEU CÓDIGO AQUI

#### Qual disciplina teve a menor quantidade de alunos?

In [93]:
# INSIRA SEU CÓDIGO AQUI

### Percentual de aprovados por disciplina

Crie um novo dataframe que calcule o percentual de alunos por disciplina, considerando que a nota mínima para aprovação é 5.

In [94]:
# INSIRA SEU CÓDIGO AQUI

#### Qual a disciplina com a maior taxa de aprovação?

In [95]:
# INSIRA SEU CÓDIGO AQUI

#### Qual a disciplina com a menor taxa de aprovação?

In [96]:
# INSIRA SEU CÓDIGO AQUI