# Análise de Dados - UFPB

**Professor** : Marcus Carvalho

Aluno: [Insira seu nome]

## Laboratório: Manipulação de Dados

Nesta atividade prática, você deve usar a biblioteca Pandas de Python para exercitar a manipulação dados.
O dataset usado como exemplo será de notas de alunos em algumas turmas ofertadas para o curso de Sistemas de Informação da UFPB.
A tabela tem duas colunas: `disciplina` e `nota`. Cada linha representa a nota final de um aluno que cursou a disciplina em uma turma.
Por exemplo, se a disciplina "SISTEMAS DISTRIBUIDOS" teve 30 alunos, existirão 30 linhas com o par `<SISTEMAS DISTRIBUIDOS, nota_do_aluno>`, sendo uma para cada aluno.

Carregue e manipule os dados para responder as questões. Tente usar apenas código para responder as questões nos blocos de código.

### Carregamento dos dados

Para iniciar, importe as bibliotecas necessárias e carregue o arquivo `dados/exemplo_notas_si.csv` usando o Pandas e imprima o DataFrame para entender o formato dos dados.

In [49]:
# INSIRA SEU CÓDIGO AQUI
import pandas as pd
import numpy as np

dataset = pd.read_csv("dados/exemplo_notas_si.csv")
dataset

                disciplina  nota
0          ADMINISTRAÇÃO I   7.7
1          ADMINISTRAÇÃO I   7.0
2          ADMINISTRAÇÃO I   5.5
3          ADMINISTRAÇÃO I   2.6
4          ADMINISTRAÇÃO I   5.1
..                     ...   ...
637  SISTEMAS OPERACIONAIS   7.5
638  SISTEMAS OPERACIONAIS   6.5
639  SISTEMAS OPERACIONAIS   1.2
640  SISTEMAS OPERACIONAIS   7.3
641  SISTEMAS OPERACIONAIS   7.0

[642 rows x 2 columns]

### Filtragem de dados

Com base na tabela de notas dos alunos, aplique alguns filtros e ordenação nos dados.

#### Mostre apenas as linhas com as notas igual a 10

In [50]:
# INSIRA SEU CÓDIGO AQUI
dataset[dataset['nota'] >= 10]

                                  disciplina  nota
62         ALGORITMOS E ESTRUTURA DE DADOS I  10.0
144    DESENVOLVIMENTOS DE SIST CORPORATIVOS  10.0
153    DESENVOLVIMENTOS DE SIST CORPORATIVOS  10.0
206                       ETICA PROFISSIONAL  10.0
215                       ETICA PROFISSIONAL  10.0
216                       ETICA PROFISSIONAL  10.0
220                       ETICA PROFISSIONAL  10.0
223                       ETICA PROFISSIONAL  10.0
231                       ETICA PROFISSIONAL  10.0
232                       ETICA PROFISSIONAL  10.0
233                       ETICA PROFISSIONAL  10.0
236                       ETICA PROFISSIONAL  10.0
237                       ETICA PROFISSIONAL  10.0
238                       ETICA PROFISSIONAL  10.0
305                 INTRODUCAO A PROGRAMACAO  10.0
318                 INTRODUCAO A PROGRAMACAO  10.0
322                 INTRODUCAO A PROGRAMACAO  10.0
514  PESQUISA APLIC A SISTEMAS DE INFORMACAO  10.0

#### Mostre apenas as notas da disciplina "SISTEMAS DISTRIBUIDOS", ordenadas da maior para a menor nota

In [51]:
# INSIRA SEU CÓDIGO AQUI
notas_sistemas = dataset[dataset["disciplina"] == "SISTEMAS DISTRIBUIDOS"]
notas_sistemas.sort_values(by="nota", ascending=False)

                disciplina  nota
608  SISTEMAS DISTRIBUIDOS   9.6
604  SISTEMAS DISTRIBUIDOS   9.4
605  SISTEMAS DISTRIBUIDOS   9.2
610  SISTEMAS DISTRIBUIDOS   9.2
611  SISTEMAS DISTRIBUIDOS   9.0
616  SISTEMAS DISTRIBUIDOS   8.2
614  SISTEMAS DISTRIBUIDOS   7.9
617  SISTEMAS DISTRIBUIDOS   7.9
612  SISTEMAS DISTRIBUIDOS   7.5
615  SISTEMAS DISTRIBUIDOS   7.3
619  SISTEMAS DISTRIBUIDOS   7.2
606  SISTEMAS DISTRIBUIDOS   7.1
618  SISTEMAS DISTRIBUIDOS   5.8
613  SISTEMAS DISTRIBUIDOS   5.6
607  SISTEMAS DISTRIBUIDOS   5.4
609  SISTEMAS DISTRIBUIDOS   5.3

### Média geral das disciplinas

Crie um novo dataframe que agrupe os dados por disciplina e aplique uma função de agregação que calcule a **média** geral das notas de cada disciplina.
Cada disciplina terá apenas uma linha com o seu nome e média das notas de todos os alunos daquela disciplina.
Exiba o dataframe para visualizar se deu certo.

In [52]:
# INSIRA SEU CÓDIGO AQUI
disc_media = dataset.groupby(["disciplina"]).mean()
disc_media

                                             nota
disciplina
ADMINISTRAÇÃO I                          7.070000
ALGEBRA LINEAR E GEOMETRIA ANALITICA     6.465000
ALGORITMOS E ESTRUTURA DE DADOS I        8.319048
AUDITORIA E SEGURANCA DE SISTEMAS        7.762500
BANCO DE DADOS I                         6.662069
DESENVOLVIMENTOS DE SIST CORPORATIVOS    7.044000
ENGENHARIA DE SOFTWARE APLICADA          7.911111
ESTATÍSTICA                              3.515789
ETICA PROFISSIONAL                       9.715789
GESTÃO DA QUALIDADE DE SOFTWARE          7.420000
INTELIG ARTIFICIAL E SIST ESPECIALISTAS  6.005263
INTRODUCAO A PROGRAMACAO                 8.410811
INTRODUCAO A SOCIOLOGIA                  7.056098
INTRODUCAO AO COMPUTADOR                 8.538462
INTRODUÇÃO À ÁLGEBRA LINEAR              4.526316
MATEMÁTICA ELEMENTAR                     5.490476
METODOLOGIA CIENTÍFICA                   8.228571
PESQUISA APLIC A SISTEMAS DE INFORMACAO  9.166667
PORTUGUES INSTRUMENTAL                   8.192308
PROBABILIDADE E ESTATISTICA              8.030435
PROGRAMACAO ORIENTADA A OBJETOS          7.558824
REDES DE COMPUTADORES                    7.275000
SISTEMAS DE APOIO A GESTÃO               8.221053
SISTEMAS DISTRIBUIDOS                    7.600000
SISTEMAS OPERACIONAIS                    6.250000

#### Qual disciplina teve a maior média?

In [53]:
# INSIRA SEU CÓDIGO AQUI
# Etica profissional
disc_media.sort_values(by='nota', ascending=False).head(1)

                        nota
disciplina
ETICA PROFISSIONAL  9.715789

#### Qual disciplina teve a menor média?

In [54]:
# INSIRA SEU CÓDIGO AQUI]
# Estatistica
disc_media.sort_values(by='nota').head(1)

                 nota
disciplina
ESTATÍSTICA  3.515789

### Quantidade de alunos por disciplina

Crie um novo dataframe que calcule a quantidade de alunos por disciplina.

In [55]:
# INSIRA SEU CÓDIGO AQUI
quant_alunos = dataset[['disciplina']].value_counts()
quant_alunos

disciplina
MATEMÁTICA ELEMENTAR                       42
INTRODUCAO A SOCIOLOGIA                    41
ADMINISTRAÇÃO I                            40
INTRODUCAO AO COMPUTADOR                   39
ETICA PROFISSIONAL                         38
INTRODUCAO A PROGRAMACAO                   37
METODOLOGIA CIENTÍFICA                     35
GESTÃO DA QUALIDADE DE SOFTWARE            30
BANCO DE DADOS I                           29
ENGENHARIA DE SOFTWARE APLICADA            27
DESENVOLVIMENTOS DE SIST CORPORATIVOS      25
AUDITORIA E SEGURANCA DE SISTEMAS          24
PROBABILIDADE E ESTATISTICA                23
SISTEMAS OPERACIONAIS                      22
ALGORITMOS E ESTRUTURA DE DADOS I          21
ALGEBRA LINEAR E GEOMETRIA ANALITICA       20
INTELIG ARTIFICIAL E SIST ESPECIALISTAS    19
ESTATÍSTICA                                19
SISTEMAS DE APOIO A GESTÃO                 19
INTRODUÇÃO À ÁLGEBRA LINEAR                19
PROGRAMACAO ORIENTADA A OBJETOS            17
SISTEMAS DISTRIBUIDOS                      16
PESQUISA APLIC A SISTEMAS DE INFORMACAO    15
PORTUGUES INSTRUMENTAL                     13
REDES DE COMPUTADORES                      12
Name: count, dtype: int64

#### Qual disciplina teve a maior quantidade de alunos?

In [56]:
# INSIRA SEU CÓDIGO AQUI
# Matematica Elementar
quant_alunos.sort_values(ascending=False).head(1)

disciplina
MATEMÁTICA ELEMENTAR    42
Name: count, dtype: int64

#### Qual disciplina teve a menor quantidade de alunos?

In [57]:
# INSIRA SEU CÓDIGO AQUI
#Redes de computadores
quant_alunos.sort_values().head(1)

disciplina
REDES DE COMPUTADORES    12
Name: count, dtype: int64

### Percentual de aprovados por disciplina

Crie um novo dataframe que calcule o percentual de alunos por disciplina, considerando que a nota mínima para aprovação é 5.

In [58]:
def aprovacao(nota):
    return "APROVADO" if nota >=5 else "REPROVADO"

dataset['resultado'] = dataset['nota'].apply(aprovacao)
dataset

                disciplina  nota  resultado
0          ADMINISTRAÇÃO I   7.7   APROVADO
1          ADMINISTRAÇÃO I   7.0   APROVADO
2          ADMINISTRAÇÃO I   5.5   APROVADO
3          ADMINISTRAÇÃO I   2.6  REPROVADO
4          ADMINISTRAÇÃO I   5.1   APROVADO
..                     ...   ...        ...
637  SISTEMAS OPERACIONAIS   7.5   APROVADO
638  SISTEMAS OPERACIONAIS   6.5   APROVADO
639  SISTEMAS OPERACIONAIS   1.2  REPROVADO
640  SISTEMAS OPERACIONAIS   7.3   APROVADO
641  SISTEMAS OPERACIONAIS   7.0   APROVADO

[642 rows x 3 columns]

In [59]:
# INSIRA SEU CÓDIGO AQUI
def prop_aprovados(df, col="nota", nota_aprovacao=5):
    return len(df[df["nota"] >= nota_aprovacao].index) / len(df.index)
    
percent_aprovacao = dataset.groupby(['disciplina']).apply(prop_aprovados)
percent_aprovacao

disciplina
ADMINISTRAÇÃO I                            0.950000
ALGEBRA LINEAR E GEOMETRIA ANALITICA       0.700000
ALGORITMOS E ESTRUTURA DE DADOS I          1.000000
AUDITORIA E SEGURANCA DE SISTEMAS          0.958333
BANCO DE DADOS I                           0.896552
DESENVOLVIMENTOS DE SIST CORPORATIVOS      0.920000
ENGENHARIA DE SOFTWARE APLICADA            0.962963
ESTATÍSTICA                                0.315789
ETICA PROFISSIONAL                         1.000000
GESTÃO DA QUALIDADE DE SOFTWARE            1.000000
INTELIG ARTIFICIAL E SIST ESPECIALISTAS    0.736842
INTRODUCAO A PROGRAMACAO                   0.972973
INTRODUCAO A SOCIOLOGIA                    0.878049
INTRODUCAO AO COMPUTADOR                   0.948718
INTRODUÇÃO À ÁLGEBRA LINEAR                0.526316
MATEMÁTICA ELEMENTAR                       0.714286
METODOLOGIA CIENTÍFICA                     1.000000
PESQUISA APLIC A SISTEMAS DE INFORMACAO    1.000000
PORTUGUES INSTRUMENTAL                     1.000000
PROBABILIDADE E ESTATISTICA                1.000000
PROGRAMACAO ORIENTADA A OBJETOS            1.000000
REDES DE COMPUTADORES                      0.833333
SISTEMAS DE APOIO A GESTÃO                 1.000000
SISTEMAS DISTRIBUIDOS                      1.000000
SISTEMAS OPERACIONAIS                      0.818182
dtype: float64

#### Qual a disciplina com a maior taxa de aprovação?

In [60]:
# INSIRA SEU CÓDIGO AQUI
# Etica profissional é apontada como a maior taxa de aprovação
# Porém há outras disciplinas com taxa de aprovação igual a 100%
# Fazendo assim elas estarem empatadas como maiores taxas de aprovação

percent_aprovacao.sort_values(ascending=False).head(1)

disciplina
ETICA PROFISSIONAL    1.0
dtype: float64

In [68]:
percent_aprovacao[percent_aprovacao == 1 ]

disciplina
ALGORITMOS E ESTRUTURA DE DADOS I          1.0
ETICA PROFISSIONAL                         1.0
GESTÃO DA QUALIDADE DE SOFTWARE            1.0
METODOLOGIA CIENTÍFICA                     1.0
PESQUISA APLIC A SISTEMAS DE INFORMACAO    1.0
PORTUGUES INSTRUMENTAL                     1.0
PROBABILIDADE E ESTATISTICA                1.0
PROGRAMACAO ORIENTADA A OBJETOS            1.0
SISTEMAS DE APOIO A GESTÃO                 1.0
SISTEMAS DISTRIBUIDOS                      1.0
dtype: float64

#### Qual a disciplina com a menor taxa de aprovação?

In [62]:
# INSIRA SEU CÓDIGO AQUI
# Estatística
percent_aprovacao.sort_values().head(1)

disciplina
ESTATÍSTICA    0.315789
dtype: float64